!!! XML
!!! Transitional
%html{html_attrs}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}
    %title Big Sheet
    
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'screen', :charset => 'utf-8', :href => '/css/main.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'screen', :charset => 'utf-8', :href => '/css/autocomplete.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'screen', :charset => 'utf-8', :href => '/facebox/facebox.css'}
      
    %script{:type => 'text/javascript', :src => '/javascript/jquery.js'}
    %script{:type => 'text/javascript', :src => '/javascript/bigsheet.js'}
    %script{:type => 'text/javascript', :src => '/facebox/facebox.js'}
    %script{:type => 'text/javascript', :src => '/javascript/dataTables.js'}
    %script{:type => 'text/javascript', :src => '/javascript/autocomplete.js'}
    
    %script{:type => 'text/javascript'}
      :plain
        $(document).ready(init);
  
  %body.home
    #headerWrapper
      #mainBg
        .container
          .container2
            .container3
              .container4
                #mainHeader
                  %h1
                    %a{:href => '/'} Comparing Legislator Votes and their Constituencies
                #headerNav
                  #filter
                    %h2 Filter Legislators
                    %ul
                      %li
                        %input{:id => 'filter_legislator_name', :class => 'text', :type => 'text', :maxlength => '329', :value => 'By Name'}
                      %li
                        %select{:name => 'filter_legislator_state', :id => 'filter_legislator_state', :class => 'stateDropDown'}
                          %option{:value => ''} By State
                          %option{:value => ''} ------
                    %h2 More Fields
                    %form#legislator_form
                      %ul
                        %li
                          %input{:class => 'party', :type => 'checkbox', :value => '1', :id => 'legislator_party'}
                          %label{:for => 'legislator_party'} Party
                        %li
                          %input{:class => 'gender', :type => 'checkbox', :value => '1', :id => 'legislator_gender'}
                          %label{:for => 'legislator_gender'} Gender
                        %li#spinner{:style => 'display: none; padding-top: 5px; padding-left: 10px;'}
                          %img{:src => '/images/spinner.gif'}
                  #filterNav
                    %form{:method => :get, :id => 'filters_form'}
                      %input{:type => 'hidden', :name => 'filters[house]', :value => '', :id => 'filters_house'}
                      %ul
                        %li#House
                          - if params[:filters] and params[:filters][:house] == 'house'
                            House
                          - else
                            %a{:href => '#', :onclick => '$("#filters_house").val("house"); $("#filters_form").submit(); return false'} House
                        %li#Senate
                          - if params[:filters] and params[:filters][:house] == 'senate'
                            Senate
                          - else
                            %a{:href => '#', :onclick => '$("#filters_house").val("senate"); $("#filters_form").submit(); return false'} Senate
                        %li#All
                          - if !params[:filters] or [nil, '', 'both'].include?(params[:filters][:house])
                            All
                          - else
                            %a{:href => '#', :onclick => '$("#filters_house").val(""); $("#filters_form").submit(); return false'} All
                #mainContent
                  %table#main_table.display
                    %thead
                      %tr#titles
                        - sort_by_ref(@data.keys, source_keys).each do |source|
                          - sort_fields(@data[source].keys, source).each do |column|
                            %th{:title => @data[source][column][:title], :class => "#{source}_#{column}"}
                              = @data[source][column][:header] ? @data[source][column][:header] : column.to_s.titleize
                    %tbody
                      - @legislators.each do |legislator|
                        %tr{:class => cycle_class, :id => legislator.bioguide_id}
                          - sort_by_ref(@data.keys, source_keys).each do |source|
                            - sort_fields(@data[source].keys, source).each do |column|
                              %td{:class => "#{source}_#{column}"}
                                = @data[source][column][legislator.bioguide_id]
    #footerWrapper
      #footer
        %h2 Add Data
        #dataContent
          #addBtns
            %ul
              - other_sources.each do |source|
                %li
                  %a{:class => "#{popup_form?(source) ? 'popup_form' : 'inline_form'} source_form_link", :href => '#', :id => "#{source.keyword}_form_link"}
                    = source.name
          - other_sources.select {|s| !popup_form? s}.each do |source|
            %div.source_form{:id => "#{source.keyword}_form"}
              = source_form source