<div class="source_form popup" id="<%= source.keyword %>">
  <h2><%= source.name %></h2>
  <%= erb :"../sources/#{source.keyword}/form", 
    :layout => false, 
    :locals => {:source => source}.merge(options) 
  %>
  <div class="popup_footer">
    <button class="add_button source_add" id="search_name_add_<%= source.keyword %>" type="submit">
      <span>Add to Chart</span>
    </button>
    <h6>
      Source: <a href="<%= source.source_url %>"><%= source.source_name %></a>
    </h6>
  </div>
  <script type='text/javascript'>
    init_source_form('<%= source.keyword %>');
  </script>
</div>