<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang='en-US' xml:lang='en-US'>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>Congrelate</title>

    <link charset='utf-8' href='/css/main.css' media='screen' rel='stylesheet' type='text/css' />
    <link charset='utf-8' href='/facebox/facebox.css' media='screen' rel='stylesheet' type='text/css' />
    <script src='/javascript/jquery.js' type='text/javascript'></script>

    <script src='/javascript/congrelate.js' type='text/javascript'></script>
    <script src='/facebox/facebox.js' type='text/javascript'></script>
    <script src='/javascript/jquery.metadata.min.js' type='text/javascript'></script>
    <script src='/javascript/tablesorter.js' type='text/javascript'></script>
    <script src='/javascript/ui-table-filter.js' type='text/javascript'></script>
    <script type='text/javascript'>
      $(document).ready(init);
    </script>
    <!--[if IE 6]><link rel="stylesheet" href="/css/buggy.css" type="text/css" media="screen" /><![endif]-->
    <script src="http://services.sunlightlabs.com/brandingbar/hat_js/congrelate/" type="text/javascript"></script>
  </head>
  
  <body class='home'>
    <div id='headerWrapper'>
      <div id='mainBg'>
        <div class='container'>
          <div class='container2'>
            <div class='container3'>
              <div id='mainHeader'>
                <div id="topNav">
                  <ul>
                    <li id="nav_feedback"><a href="http://getsatisfaction.com/sunlightlabs/products/sunlightlabs_congrelate">Feedback</a></li>
                  </ul>
                </div>
                <h1>
                  <a href='/'>Congrelate: Comparing Legislator Votes and their Constituencies</a>
                </h1>
              </div>
              <div id='headerNav'>
                <div id='filter'>
                  <h2>Filter</h2>
                  <ul>
                    <li>
                        <input class='text<%= ' activated' if params[:filter] %>' id='filter_field' maxlength='329' type='text' value='<%= params[:filter] || 'e.g. "kennedy", "senate ny"' %>' />
                        <button class="clearBtn" type="submit" id="clear_button">
                          <span>Clear</span>
                        </button>
                    </li>
                    <li id='spinner' style='display: none; padding-top: 5px; padding-left: 10px;'>
                      <img src='/images/spinner.gif'/>
                    </li>
                  </ul>
                  
                  <div class="download">
                    <h2>Download</h2>
                    <a href="#" id='csv'>CSV</a> |
                    <a href="#" id='json'>JSON</a>
                  </div>
                  
                  <div class="permalink">
                    <a href="#">Permalink</a>
                  </div>
                </div>
              </div>
              <div id='mainContent'>
              
                <div class="filtering help">
                  Your table is being filtered on the terms <span></span>. <a href="#">Clear</a>
                </div>
              
                <div class="sorting help">
                  To sort on multiple columns, hold down the Shift key as you click on additional column headers.
                </div>
              
                <table class="display" id="main_table" style="<%= 'display: none' if @show_intro %>">
                  <thead>
                    <tr class="titles">
                      <% sort_by_ref(@data.keys, source_keys).each do |source| %>
                        <% sort_fields(@data[source].keys, source).each do |column| %>
                          <th title="<%= @data[source][column][:title] %>" class="<%= column_id source, column %><%= @data[source][column][:type] ? " {sorter: '#{@data[source][column][:type]}'}" : "" %>">
                            <span>
                              <%= @data[source][column][:header] ? @data[source][column][:header] : column.to_s.titleize %>
                            </span>
                            <a href="#" title="Remove Column" class="remove"></a>
                            <input type="hidden" class="source" value="<%= source %>" />
                            <input type="hidden" class="column" value="<%= column %>" />
                          </th>
                        <% end %>
                      <% end %>
                    </tr>
                  </thead>
                  <tbody>
                    <% @legislators.each do |legislator| %>
                      <tr id="<%= legislator.bioguide_id %>" class="legislator">
                        <% sort_by_ref(@data.keys, source_keys).each do |source| %>
                          <% sort_fields(@data[source].keys, source).each do |column| %>
                            <td class="<%= column_id source, column %>">
                              <% cell = @data[source][column][legislator.bioguide_id] %>
                              <%= cell.is_a?(Hash) ? cell[:html] : cell %>
                            </td>
                          <% end %>
                        <% end %>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                
                <div class="no_results" style="display: none">
                  Your search doesn't match any rows. Try searching by a state (e.g. <a href="#" class="filter">ny</a>, <a href="#" class="filter">pa</a>), legislator name (e.g. <a href="#" class="filter">kennedy</a>, <a href="#" class="filter">boehner</a>), or words in any of the other columns in the table.
                </div>
                
                <div class="intro" style="display: <%= @show_intro ? 'block' : 'none' %>">
                  <div id="ltFeature">
                    <h2 id="welcomeText">Welcome</h2>
                    <p>
                      Congrelate lets you view, sort, filter and share information about members of Congress and their districts. We've brought data from Congress, the Census, OpenSecrets, GovTrack and more into a single place, to see the data and how it relates. For instance: check out <a href="/table?legislator[name]=1&legislator[state]=1&legislator[district]=1&contribution[Tobacco]=1">who got the most money from tobacco companies in 2008</a>, the <a href="/table?filter=Appropriations&legislator[name]=1&legislator[state]=1&legislator[district]=1&legislator[committees]=1&contribution[top_industries]=1">top donors to the Appropriations committee</a>, or <a href="/table?legislator[name]=1&legislator[state]=1&legislator[district]=1&legislator[party]=1&legislator[gender]=1&roll_call[s2009-14]=1&roll_call[h2009-37]=1">which Republicans voted for the Lilly Ledbetter Fair Pay Act of 2009</a>. Use the data, make up your queries, and share your own lists with your friends.
                      
                      <br/><br/>
                      
                      Still confused? Watch this screencast about how you can use Congrelate.
                    </p>
                    <div id="welcomeVideo">
                      <object width="640" height="505">
                        <param name="movie" value="http://www.youtube.com/v/6rSIIW7ZGOQ&hl=en&fs=1&hd=1"></param>
                        <param name="allowFullScreen" value="true"></param>
                        <param name="allowscriptaccess" value="always"></param>
                        <param name="wmode" value="opaque"></param>
                        <embed src="http://www.youtube.com/v/6rSIIW7ZGOQ&hl=en&fs=1&hd=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="505" wmode="opaque"></embed>
                      </object>
                    </div>
                  </div>
                  <div id="rtFeature">
                    <form action="/" method="get">
                      <input type="hidden" name="hide_intro" value="1" />
                      <button class="startedBtn" type="submit">
                        <span>Get Started!</span>
                      </button>
                    </form>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id='footerWrapper'>
      <div id='footerMain'>
        <div id="footerTab">
          <h2>Add Data</h2>
        </div>
        <div id='dataContent'>
          <div id='addBtns'>
            <ul>
              <% sources.each do |source| %>
                <li>
                  <a class="source_form_link" href='#' id="<%= source.keyword %>_form_link">
                    <%= source.name %>
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-1265484-39");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
    
  </body>
</html>