%script{:type => 'text/javascript'}
  :plain
    $(document).ready(function() {
      $('#main').dataTable({
        bProcessing: true,
        aaSorting: [[2, 'asc'], [3, 'asc']]
      });
    });

%table#main
  %thead
    %tr
      %th Title
      %th Legislator
      %th State
      %th District
  %tbody
    - @legislators.each do |legislator|
      %tr
        %td= "#{legislator.title}."
        %td= "#{legislator.firstname} #{legislator.lastname}"
        %td= legislator.state
        %td= legislator.district