<div>
  <button id="search_name_add_<%= source.keyword %>" class="add_button source_add" type="submit">
    Add to Chart
  </button>
  
  <%= field_checkbox :legislator, :name %>
  <%= field_checkbox :legislator, :state %>
  <%= field_checkbox :legislator, :district %>
  <%= field_checkbox :legislator, :party %>
  <%= field_checkbox :legislator, :gender %>
</div>