<div> 
  <%= field_checkbox :legislator, :name %>
  <%= field_checkbox :legislator, :state %>
  <%= field_checkbox :legislator, :district %>
  <%= field_checkbox :legislator, :party %>
  <%= field_checkbox :legislator, :gender %>
  <br/>
  
  <%= field_checkbox :legislator, :committees, :title => 'Committee Memberships' %>
  <p><em>Note</em>: this does not show subcommittees.</p>
</div>