<div class="recency">
  This vote history is for the <strong><%= RollCall.current_congress %></strong><sup><%= ordinal RollCall.current_congress %></sup> Congress only.
</div>

<div class="search_field">
  <form id="search_name_form_<%= source.keyword %>" class="search_name_form">
    <h3>Search</h3>
    <input class="search" id="search_name_field_<%= source.keyword %>" type="text" name="search_name_<%= source.keyword %>" value="By Keyword"/>
    <button class="go_button source_go" type="submit" id="search_name_go_<%= source.keyword %>">Go</button>
    <img class="popup_spinner" src="/images/spinner.gif" style="display: none"/>
  </form>
</div>
<div>
  <div class="search_table">
    <div class="search_table_inner scrollable">
      <!-- Where the results table will go -->
      Search for roll call votes using the input field above.
    </div>
  </div>
</div>