<div class="search_field">
  <form id="search_name_form_<%= source.keyword %>" class="search_name_form">
    <h3>Search</h3>
    <input class="search" id="search_name_field_<%= source.keyword %>" type="text" name="search_name_<%= source.keyword %>" value="By Name"/>
    <button class="go_button source_go" type="submit" id="search_name_go_<%= source.keyword %>">Go</button>
    <img class="popup_spinner" src="/images/spinner.gif" style="display: none"/>
  </form>
</div>
<div>
  <div class="search_table">
    <div class="search_table_inner" id="search_name_table_<%= source.keyword %>">
      <!-- Where the results table will go -->
    </div>
  </div>
</div>