%div.search_field
  %form{:id => "search_name_form_#{source.keyword}", :class => 'search_name_form'}
    %h3 Search
    %input.search{:id => "search_name_field_#{source.keyword}", :type => 'text', :name => "search_name_#{source.keyword}", :value => 'By Name'}
    %button.go_button.source_go{:type => 'submit', :id => "search_name_go_#{source.keyword}"}
      %span Add to Chart
    %img.popup_spinner{:src => '/images/spinner.gif', :style => 'display:none'}
%div
  .search_table
    
    .search_table_inner{:id => "search_name_table_#{source.keyword}"}
      <!-- Where the results table will go -->
    
    %button.add_button.source_add{:id => "search_name_add_#{source.keyword}", :type => 'submit'}
      %span Add to Chart