<% if params[:q] %>
  <input type="hidden" name="q" value="<%= params[:q] %>" id="roll_call_query" />
<% end %>

<% if is_prev %>
  <div class="page_button prev_button">
    <a href='#'>&laquo; Back</a>
    <input type="hidden" name="page" value="<%= page - 1%>" />
  </div>
<% end %>

<% if is_next %>
  <div class="page_button next_button">
    <a href="#">More &raquo;</a>
    <input type="hidden" name="page" value="<%= page + 1%>" />
  </div>
<% end %>

<table>
  <thead>
    <tr class="titles">
      <th class="select"/>
      <th class="date">Date</th>
      <th>Description</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
    <% roll_calls.each do |roll_call| %>
      <tr class="search_result <%= cycle_class %>">
        <td class="roll_call_box">
          <input type="checkbox" class="selected" />
          <input type="hidden" value="<%= roll_call.identifier %>" />
        </td>
        <td class="date"><%= short_date roll_call.held_at %></td>
        <td><%= roll_call.question %></td>
        <td><%= roll_call.result %></td>
      </tr>
    <% end %>
  </tbody>
</table>