<div>
  <button id="search_name_add_<%= source.keyword %>" class="add_button source_add" type="submit">
    Add to Chart
  </button>

  <%= field_checkbox :district, :blacks, '% Black' %>
  <%= field_checkbox :district, :whites, '% White' %>
  <%= field_checkbox :district, :hispanics, '% Hispanic' %>
  <%= field_checkbox :district, :american_indians, '% American Indian' %>
  <%= field_checkbox :district, :asians, '% Asian' %>
  <%= field_checkbox :district, :males, '% Male' %>
  <%= field_checkbox :district, :females, '% Female' %>
  <%= field_checkbox :district, :median_age %>
  <%= field_checkbox :district, :median_household_income %>
  <%= field_checkbox :district, :median_house_value %>
  <%= field_checkbox :district, :median_rent %>
</div>