<div>
  <button id="search_name_add_<%= source.keyword %>" class="add_button source_add" type="submit">
    Add to Chart
  </button>

  <%= field_checkbox :district, :blacks, :title => '% Black' %>
  <%= field_checkbox :district, :whites, :title => '% White' %>
  <%= field_checkbox :district, :hispanics, :title => '% Hispanic' %>
  <%= field_checkbox :district, :american_indians, :title => '% American Indian' %>
  <%= field_checkbox :district, :asians, :title => '% Asian' %>
  <%= field_checkbox :district, :males, :title => '% Male' %>
  <%= field_checkbox :district, :females, :title => '% Female' %>
  <%= field_checkbox :district, :median_age %>
  <%= field_checkbox :district, :median_household_income %>
  <%= field_checkbox :district, :median_house_value %>
  <%= field_checkbox :district, :median_rent %>
</div>